html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .wrapper-card {

  }

  .wrapper-card::before {

  }
  

  .content-card{

  }
} */

@layer base {
  /* Light Theme Variables */
  :root {
    --clr-white: 0, 0%, 98%;
    --clr-black: 0, 0%, 10%;
    --btn-main: 0, 0%, 15%;
    --btn-opt: 222, 1%, 93%;
    --btn-cta: 221, 83%, 53%;
    --txt-cta: 0, 0%, 100%;
    --bdr: 218, 3%, 84%;
    --bdr-opt: 0, 0%, 90%;
    --txt-highlight: 0, 0%, 9%;
    --txt-primary: 0, 0%, 25%;
    --txt-secondary: 217, 23%, 47%;
    --txt-placeholder: 217, 23%, 75%;
    --clr-footer: 0, 0%, 10%;
    --border-animate-main: 0, 0%, 40%;
    --border-animate-opt: 0, 0%, 98%;
    --tech-stack: 0, 0%, 50%;
    --project-card: 222, 1%, 93%;
  }

  /* Dark Theme Variables */
  .dark {
    --clr-white: 0, 0%, 10%; /* black */
    --clr-black: 0, 0%, 98%; /* white */
    /* --btn-main: 222, 20%, 12%; */
    --btn-main: 222, 5%, 50%;
    /* --btn-main: 217, 23%, 70%; */
    --btn-opt: 222, 5%, 15%;
    --btn-cta: 221, 83%, 53%;
    --txt-cta: 0, 0%, 90%;
    --bdr: 218, 3%, 30%;
    --bdr-opt: 0, 0%, 20%;
    --txt-highlight: 0, 0%, 90%;
    --txt-primary: 0, 0%, 85%;
    --txt-secondary: 0, 0%, 56%;
    /* --txt-secondary: 217, 23%, 60%; */
    --txt-placeholder: 0, 0%, 30%;
    --clr-footer: 0, 0%, 15%;
    --border-animate-main: 0, 0%, 98%;
    --border-animate-opt: 0, 0%, 10%;
    --tech-stack: 222, 5%, 50%;
    --project-card: 222, 5%, 15%;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.wrapper-card {
  position: relative;
  padding: 1.2px 1px 1.2px 1px;
  background-image: conic-gradient(
    from var(--angle),
    hsl(var(--border-animate-main)),
    hsl(var(--border-animate-opt)),
    hsl(var(--border-animate-opt)),
    hsl(var(--border-animate-opt)),
    hsl(var(--border-animate-opt)),
    hsl(var(--border-animate-opt)),
    hsl(var(--border-animate-opt)),
    hsl(var(--border-animate-opt)),
    hsl(var(--border-animate-opt)),
    hsl(var(--border-animate-main))
  );
  /* background-image: conic-gradient(
    from var(--angle),
    #144bc2,
    #f5f5f5,
    #f5f5f5,
    #f5f5f5,
    #f5f5f5,
    #f5f5f5,
    #f5f5f5,
    #f5f5f5,
    #f5f5f5,
    #144bc2
  ); */
  /* width: fit-content;
  height: fit-content; */
  width: 100px;
  height: 40px;
  /* border-radius: 10px; */
  animation: 5s spin linear infinite;
  z-index: 2;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* .content-card {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  translate: -50% 0;
  background-color: hsl(var(--btn-opt));
  border-radius: 8px;
} */

.content-nav {
  position: relative;
  /* top: 50%; */
  left: 50%;
  /* translate: -50% -50%; */
  /* translate: -50% 0; */
  transform: translateX(-50%);
  background-color: hsl(var(--clr-white));
  /* border-radius: 8px; */
  z-index: -1;
}

.flip-wrapper {
  perspective: 3200px;
  position: relative;
}

.card-front,
.card-back {
  transition: transform 1s ease-in-out;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateX(0deg);
}

.card-back {
  transform: rotateX(-180deg);
}

.flip-wrapper:hover .card-front {
  transform: rotateX(180deg);
}

.flip-wrapper:hover .card-back {
  transform: rotateX(-0deg);
}

.test {
  color: #144bc2;
  background: #2463eb;

  color: #e9b311;
  background-color: #5569eb;

  color: hsl(222, 1%, 93%);
}
